@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.form_wrapper {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;

  &_radio {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    &__btn {
      display: flex;
      flex-direction: row;
    }
    h5 {
      color: white;
      margin-bottom: 10px;
    }

    label {
      color: white;
      margin-right: 10px;
    }

    input,
    label {
      cursor: pointer;
    }
  }

  &_textarea {
    position: relative;
    height: 100px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;

    label {
      display: block;
      position: absolute;
      top: 13%;
      left: 5%;
      pointer-events: none;
      width: 100%;
      max-width: 300px;
      transition: 0.3s;
      color: #fff;
    }
  }

  &__input {
    height: 100%;
    width: 300px;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 1.2rem;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px 0;
    color: #fff;
    transition: background ease-in-out 0.3s;
    &:focus,
    &:valid {
      background: rgba(255, 255, 255, 1);
      color: #64636a;
    }
  }

  &__label {
    display: block;
    position: absolute;
    top: 32%;
    left: 5%;
    pointer-events: none;
    width: 100%;
    max-width: 300px;
    transition: 0.3s;
    color: #fff;
  }

  &__textarea {
    height: 100px;
    resize: none;
    width: 300px;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 1.2rem;
    outline: none;
    border-radius: 10px;
    padding: 20px 20px 0;
    color: #fff;
    transition: background ease-in-out 0.3s;
    &:focus,
    &:valid {
      background: rgba(255, 255, 255, 1);
      color: #64636a;
    }
  }

  &__input:focus + &__label,
  &__input:valid + &__label,
  &__textarea:focus + &__label,
  &__textarea:valid + &__label {
    transform: translateY(-10px);
    font-size: 1.2rem;
    color: #64636a;
    font-weight: 700;
  }
}

.form-btn {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 30px;
  border: none;
  cursor: pointer;
  color: white;
}

.notes {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.note {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    height: 100%;

    &_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_btn {
      display: flex;
      width: 100%;

      button {
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 1;

  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 30px;
  }

  .city {
    align-self: flex-start;
  }

  .info {
    cursor: pointer;
    background-image: url("asset/chevron-down-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    outline: none;
  }

  .additional {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 20px;
    width: 90%;
    padding: 10px;
    position: absolute;
    z-index: -1;
    transition: top ease-in-out 0.3s;
    top: 0;

    p,
    h5 {
      color: #fff;
    }
  }
}

#white {
  background-color: #fff;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}
